<div class="container" >
    <table id="tablePreview" class="table table-bordered table-striped table-hover table-sm" style="text-align:center">
      <!--Table head-->
      <thead >
        <tr  >
          <th  colspan="2">تاريخ البداية</th>
          <th colspan="2">تاريخ النهاية</th>
          <th>وصف مكان التنفيذ</th>
          <th> الجهة المنفذة</th>
          <th>التسجيل </th>
          
         
        
        </tr>
        <tr>
            <th>ميلادي</th>
            <th>هجري</th>
            <th>ميلادي</th>
            <th>هجري</th>
           
          </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        
        <tr>
            <th>31/03/2019</th>
            <th>24/07/1440</th>
            <th>31/03/2019</th>
            <th>24/07/1440</th>
            <th>31</th>
            <th>24</th>
            <th>31</th>
           
           
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>