<form action="">
  <div class="container">
    <div class="container  row col">
      <div class="col-12 col-md-6">
        <div class="form-group row col-12">
          <label class="my-auto col-10 col-md-4">نوع الجدارة :</label>
          <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">اسم الجدارة :</label>
          <select class="form-control col-8" >
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">نوع النشاط :</label>
          <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">الجهة المنفذة:</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">القطاع :</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">المجال :</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">الدولة :</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">المدينة :</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">تاريخ البداية بعد :</label>
            <select class="form-control col-8">
            <option >1</option>
          </select>
        </div>
        <div class="form-group row col-12">
            <label class="my-auto col-10 col-md-4">اسم النشاط التدريبي :</label>
            <select class="form-control col-8">
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="float: right">
    <button type="button" class="btn default-color"  >  استعلام  <i class="fas fa-search"></i></button>
  </div>
</form>
