<form action="">
  <div class="container">
    <div class="container  row">
      <div class="col-6">
        <div class="form-group row">
          <label>نوع الجدارة :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>اسم الجدارة :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="col-xs-12">نوع النشاط :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="col-xs-10">الجهة المنفذة :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>القطاع :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
            <label>المجال :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>الدولة :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>المدينة :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>تاريخ البداية بعد :</label>
          <select class="form-control col-4">
            <option >1</option>
          </select>
        </div>
        <div class="form-group row">
            <label>اسم النشاط التدريبي :</label>
          <select class="form-control col-4">
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container row" >
    <button type="button" class="btn default-color" >  استعلام  <i class="fas fa-search"></i></button>
  </div>
</form>
