<form action="">
  <div class="container">
    <div class="container  row">
      <div class="col-6">
        <div class="form-group row">
          <label class="my-auto">نوع الجدارة :</label>
          <select class="form-control col-4 mx-4" #aljadarhType>
            <option >1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">اسم الجدارة :</label>
          <select class="form-control col-4 mx-4" #aljadarhName>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">نوع النشاط :</label>
          <select class="form-control col-4 mx-4" #activtyType>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">الجهة المنفذة :</label>
            <select class="form-control col-4 mx-2" #executingAgency>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">القطاع :</label>
            <select class="form-control col-4 mx-5" #sector>
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
            <label class="my-auto">المجال :</label>
            <select class="form-control col-4 mx-4" #domain>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">الدولة :</label>
            <select class="form-control col-4 mx-4" #country>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">المدينة :</label>
            <select class="form-control col-4 mx-4" #city>
            <option>1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">تاريخ البداية بعد :</label>
            <select class="form-control col-4 mx-4" #startDate>
            <option >1</option>
          </select>
        </div>
        <div class="form-group row">
            <label class="my-auto">اسم النشاط التدريبي :</label>
            <select class="form-control col-4 mx-4" #activtyTrainingName>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="float: right">
    <button type="button" class="btn default-color"  (click)="getSearchResult()">  استعلام  <i class="fas fa-search"></i></button>
  </div>
</form>
