<div class="container-fluid"></div>
<div class="container">
    <br>
  <div class="card grey lighten-5">
    <div class="card-header  default-color text-white" style="text-align: right">
      <h4><i class="far fa-edit"></i> البحث</h4>

    </div>
    <br>
    <app-search-operations></app-search-operations></div>
  </div>
  <br>
<div class="container">
    <div class="card grey lighten-5">
      <div class="card-header default-color text-white" style="text-align: right">
        <h4><i class="fas fa-money-check"></i> النتائج</h4>

      </div>
      <br>
      <app-result-table></app-result-table></div>
</div>
<div class="container"><app-detail-result></app-detail-result></div>
<div class="container-fluid"></div>
<router-outlet></router-outlet>
