<div class="container-fluid"></div>
<div class="container">
    <br>
  <div class="card">
    <div class="card-header  green lighten-4" style="text-align: center">
      البحث
    </div>
    <br>
    <app-search-operations></app-search-operations></div>
  </div>
  <br>
<div class="container">
    <div class="card">
      <div class="card-header green lighten-4" style="text-align: center">
        النتائج
      </div>
      <br>
      <app-result-table></app-result-table></div>
</div>
<div class="container"><app-detail-result></app-detail-result></div>
<div class="container-fluid"></div>
<router-outlet></router-outlet>
