<div class="container" >
    <table id="tablePreview" class="table table-bordered table-striped table-hover table-sm" style="text-align:center">
      <!--Table head-->
      <thead>
        <tr>
          <th>نوع الجدارة</th>
          <th>اسم الجدارة</th>
          <th>وصف الجدارة</th>
         
        
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          
         
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>